*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
    
}
body{
    background-color: black;
}
a{
    text-decoration: none;
}


.photo{
    width: 370px ;
}


.head-text{
    font-size: 50px;
}

/* navbar  */
 
#nav-img{
    margin: 0px 250px;
}

.nav-link{
    margin: 0px 20px;
}

#franchise{
    background-color: transparent;
    border: 1px solid white;
}
#order-online {
    border: 0px;

}

.btn-round{
    padding: 5px 7px; 
    background-color: white;
}

/* navbar end  */


/* main start  */

/* carousel start  */

#carousel{
    width: 100vw;
}

/* carousel end  */


/* welcome start first section  */

#welcome-head{
    font-size: 40px;
}

#bold-web{
    font-size: 50px;
    font-weight: bolder;
}

#wel-img{
    text-align: center;
}

.img-btn{
    width:180px;
    border: 0.5px solid rgba(255, 207, 207, 0.17);
    padding: 15px 45px;
    border-radius: 30px;
    background-color: transparent;
    /* margin-left: 80px; */
}

/* welcome end  */



/* Restaurent franchise start second section  */




#fran-head{
    font-size: 40px;

}

#fran-body{
    margin-top: 50px;
}

#side-one{
    margin-right: 210px;
}

#p-red{
    color: red;
    font-size: 15px;
}

#para-white{
    font-size: 35px;
    font-weight: lighter;
}


#sp-bold{
    font-size: 37px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.direction{
    width:180px;
    border: 0.5px solid rgba(255, 207, 207, 0.17);
    padding: 18px 20px;
    border-radius: 30px;
    background-color: transparent;
}
/* Restaurent franchise end  */




/* Express Franchise start section-3   */

#sec-3{
    /* height: 500px; */
}








/* Express Franchise end  */



/* open soon start  */

.open-text{
    font-size: 25px;
}



/* open soon end   */


/* social feed start  */


#social-head{
    font-size: 35px;

}

#social-feed{
    overflow-x: auto;
    width: 100vw;
}

.img-one{
    width: 300px;
}
.hr{
    border: 1px solid rgb(60, 57, 57);
}



/* social feed end  */

 

/* main end  */

/* home end  */







/* about start  */

.head-about{
    font-size: 40px;
    font-weight: bold;
}



.text-about{
    font-size: 17px;
}

.h-style{
    font-size: 30px;
}

.about-img{
width: 500px;
}

.head-1-about{
    font-size: 30px;
    
}
.about-img-2{
    width: 550px;
    height: 370px;
    }

.card-width{
    width: 350px;
}

.card-img{
        width: 326px;
        height: 275px;
}

.card-head{
    font-size: 15px;
}

.card-rounded{
    border-radius: 15px;
}

.bcg-layer{
    position: absolute;
    /* bottom: 0px; */
    left: 2px;
    width: 300px;
    height: 400px;
    opacity: 0.3;
}

.bcg-layer-1{
    position: absolute;
    
    right: 10px;
  
    opacity: 0.6;
}


.bcg-layer-2{
    position: absolute;
    
    left: 10px;
  
    opacity: 1;
}

/* .s-inline{
    display: inline;
} */





/* about end  */