/* flex classes start  */


.container{
width: 90vw;
padding: 50px 150px;
margin: 50px auto;

}

.container-f{
    width: 90vw;
    padding: 50px 150px;
    margin: 50px 0px auto;
    
    }
    .conatainer-f2{
        height: 100px;
        padding: 50px 30px;
         margin: 50px auto;
    }

.w-25{
    width: 25%;
}

.block{
    display: block;
}

.w-w{
width: 350px;
height: 250px;
}




.d-flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}
.justify-end{
    justify-content: flex-end;
}
.justify-between{
    justify-content: space-between;
}
.justify-around{
    justify-content: space-around;
}
.justify-evenly{
    justify-content: space-evenly;
}


.align-center{
    align-items: center;
}
 
.align-end{
    align-items:flex-end;
}

.align-start{
    align-items:flex-start;
}




/* flex classes end  */

/* margin and padding classes start  */

.mt-1{
    margin-top: 5px;
}

.mt-2{
    margin-top: 10px;
}

.mt-3{
    margin-top: 15px;
}

.mt-4{
    margin-top: 20px;
}

.mt-5{
    margin-top: 25px;
}

.mt-5{
    margin-top: 25px;
}

.mt-6{
    margin-top: 60px;
}

.mb-1{
    margin-bottom: 5px;
}

.mb-2{
    margin-bottom: 10px;
}

.mb-3{
    margin-bottom: 15px;
}

.mb-4{
    margin-bottom: 20px;
}

.mb-5{
    margin-bottom: 25px;
}

.mb-6{
    margin-bottom: 60px;
}

.mse-1{
    margin: 0px 5px;
}

.mse-2{
    margin: 0px 10px;
}

.mse-3{
    margin: 0px 15px;
}

.mse-4{
    margin: 0px 20px;
}

.mse-5{
    margin: 0px 25px;
}


.m-1{
    margin: 5px;
}

.m-2{
    margin: 10px;
}

.m-3{
    margin: 15px;
}

 .m-4{
    margin: 20px;
 }

 .m-5{
    margin: 25px;
 }

 .m-auto{
    margin: auto;
 }
 
 


 .p-1{
    padding: 5px;
 }

 .p-2{
    padding: 10px;
 }

 .p-3{
padding: 15px;
 }

 .p-4{
    padding: 20px;
 }

 .p-5{
    padding: 25px;
 }

 .ptb-1{
    padding: 5px 0px;
 }

 .ptb-2{
    padding: 10px 0px;
 }

 .ptb-3{
    padding: 15px 0px;
 }

 .ptb-4{
    padding: 20px 0px;
 }

 .ptb-5{
    padding: 25px 0px;
 }

 .p-l{
    padding-right: 10px;
    padding-left: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
 }

 /* margin and paadding classes end  */



 /* background,text,border classes start  */

 .bg-light{
    background-color: white;
 }
.bg-red{
    background-color: #ed1c24;
}
.bg-dark{
    background-color: black;
}

.bg-gray{
    background-color: #1c1c1c;
}
.bg-green{
    background-color: #3ca745;
}




.rounded{
    border-radius: 40px;
}


.text-red{
    color: #ed1c24;  
    font-size: 12px;  
}

.text-gray{
    color: #b3ada2;
}

.text-green{
    color: #3ca745;
}
.text-dark{
    color: black;
}

.open-red{
    color: red;
    font-size: 12px;
}



.center{
    text-align: center;
}
 /* background, text , border classes end  */


/* bold and italic and underline classes start  */

.bold{
    font-weight: bold;
}


.italic{
    font-style: italic;
}

.underline{
    text-decoration: underline;
}
/* bold and italic and underline classes end  */

.font-size{
    font-size: 20px;
}



/* main classes of about  */
 
.containers{
width: 1320px;
margin: 60px auto;
padding: 0px 40px;
justify-content: center;

}

.rows{
    width: 1200px;
    display: flex;
    /* padding: 50px; */
    justify-content: center;
margin: auto;
flex-wrap: wrap;
}

.col-4{
    width: 33.33%;
}

.col-6{
    width: 50%;
    padding: 20px;


}


.col-12{
    width: 80%;
    padding: 0px 60px;
    
}